body{
    background-color: lightblue;
    font-size: 17px;
}

h1{
    font-size: 20px;
    text-align: center;
    font-family: "Limelight", sans-serif;
}

header{
  background-color: white;
 
}

img{
    height: 150px;
    width: 150px;
    
}

.contenedor{
    background-color: blueviolet;
    text-decoration: underline;
    font-size: 30px;
    
}

.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  nav
  {
    

    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
        padding: 0 20px;
    

  }

  nav a{
    text-decoration: none;
  }

  .targetas{
   display: flex;
   justify-content: center;
  }

.card
{
margin: 20px;
width: 300px;
border-radius: 20px;
border-radius: hidden;
box-shadow: 0px 5px 10px #336eff;
}

.card-content
{
  padding: 10px;
}

.card img{
    width: 100%;
}

.centrado{

text-align: center;
justify-content: center;
height: 200%;
width: 100%;
border-radius: 200px;
}

.alineado{
 display: inline-block;
 padding: 0 20px;
 justify-content: space-evenly;
 

}

.nevegacion{
  justify-content: space-around;
  display: inline-flex;
}

button{
  background-color: deeppink;
  border-radius: 25%;
  width: 150px;
  height: 45px;
  
}

.header .nav-links .card:hover{
  transform: scale(1.1);
}

.header .nav-links a{
  font-size: 700;
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
  transition: scale(1.1);
}
  
  